@font-face {
    font-family: 'iconfont';  /* project id 605730 */
    src: url('//at.alicdn.com/t/font_605730_c053azcjlbaz6w29.eot');
    src: url('//at.alicdn.com/t/font_605730_c053azcjlbaz6w29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_605730_c053azcjlbaz6w29.woff') format('woff'),
    url('//at.alicdn.com/t/font_605730_c053azcjlbaz6w29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_605730_c053azcjlbaz6w29.svg#iconfont') format('svg');
  }

  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.debug{
    //border: 1px solid red;
}
.all{
    .headimg{
        .clearfix();
        height: 80px;
        background-color: #c300ff;
        padding-left:36.5px;
        position: relative;
        .contentimg{
            margin: 0 auto;
            a{
                margin: 0 auto;
                display: block;
                height: 80px;
                width: 100%;
                background: url(../img/5b03b5b6N3bb3f5fd.jpg);
            }
        }
        .six-one-eight{
            float: left;
            display: block;
            width: 180px;
            height: 80px;
            background: url(../img/5afcf090N3ac735e0.png);
            background-size: 100% 100%;
        }
        .like-but-first{
            position: absolute;
            left:946.5px;
            margin-top: 15.5px;
            a{
                display: block;
                height: 46px;
                width: 116px;
                float: right;
                background: url(../img/5b03bbcbN2ae8b434.png)
            }
        }
        .like-but-second{
            position: absolute;
            margin-top: 15.5px;
            left: 1072px;
            a{
                display: block;
                height: 46px;
                width: 116px;
                float: right;
                background: url(../img/5b03b90aNca6ca549.png)
            }
        }

        .like-but-third{
            position: absolute;
            right: -6px;
            z-index: 100;
            a{
                display: block;
                width: 64px;
                height: 160px;
                background: url(../img/5b0525e3Ndd16a618.png)
            }
        }
    }
    .navigation{
        .debug();
        color: #999;
        font-size: 12px;
        height: 30px;
        position: relative;
        background-color: #e3e4e5;
        padding:0px 36.5px;
        .content-jdog{
            position: absolute;
            box-shadow: 0px 0px 5px #888888;
            a{
                display: block;
                height: 190px;
                width: 190px;
            }
        }
        .area{
            .debug();
            position: relative;
            .now-area{
                float: left;
                margin-left: 200px;

                .bj{
                    .debug();
                    margin-left: 5px;
                    padding-left: 16px;
                    line-height: 30px;
                    width: 36px;
                }

                i{
                    .debug();
                    float: left;
                    margin: 5px 0px 0px 5px;
                }

                .hide-area{
                    .debug();
                    padding: 10px;
                    position: absolute;
                    width: 333px;
                    background: #fff;

                    ul{
                        list-style: none;

                        li{
                            float: left;
                            height: 24px;
                            margin: 2px 0px;
                            width: 60px;

                            a{
                                float: left;
                                text-decoration: none;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
        .info{
            .clearfix();
            .debug();
            float: right;
            ul{
                .clearfix();
                .debug();
                list-style: none;
                li{
                    float: left;
                    margin: 0 7px;
                    line-height: 30px;
                    a{
                        color: #999;
                        text-decoration: none;
                    }
                    span{
                        .debug();
                        margin-left: 5px;
                        color: red;
                    }
                    &.line{
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background: #999;
                        margin: 11px 5px 0;
                    }
                    i{
                        font-size: 11px;
                    }
                    &:hover{
                        color: red;
                        &>a{
                            color: red;
                        }
                    }
                    .myjd{
                        position: absolute;
                        background: #fff;
                        width: 280px;
                        padding: 10px 0px 10px 0px;
                        .myjd_sub_f{
                            .debug();
                            margin:0px 0px 10px 15px;
                            ul{
                                li{
                                    .debug();
                                    height: 24px;
                                    width: 126px;
                                    float: left;
                                    margin: 0px;
                                }
                            }
                        }
                        .myjd_sub_s{
                            padding: 0px 0px 0px 15px;
                            .debug();
                            border-top: 0.3px solid #999;
                            ul{
                                li{
                                    .debug();
                                    height: 24px;
                                    width: 126px;
                                    float: left;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                    .procurement{
                        
                    }
                }
            }
        }

    }
    
    .button{
        height: 2000px;
        background: #dadad8;
    }
}