@charset "UTF-8";
/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止拖动*/

img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/

.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.shortcut .dt {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 12px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s {
    position: absolute;
    top: -8px;
    left: 0px;
    ;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr li.line {
    padding: 0px;
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
}

.shortcut .tel-jd {
    padding: 0 20px;
}

.shortcut .tel-jd i.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(../img/sprite.png) no-repeat;
    top: 3px;
    right: 68px;
}

.topbanner {
    background-color: #8a25c6;
}

.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../img/close.png) no-repeat;
}

.close-banner:hover {
    background-position: bottom;
}

.tp {
    position: relative;
}

.w .logo {
    height: 75px;
    width: 362px;
    background: #8a25c6;
    float: left;
    padding-top: 25px;
    background: url(../img/logo.png) no-repeat 0 25px;
    position: relative;
}

.w .search {
    width: 538px;
    height: 35px;
    float: left;
    background: #C81623;
    margin-top: 25px;
}

.w .search input {
    width: 450px;
    height: 32px;
    border: 2px solid #b61d1d;
    padding-left: 4px;
    color: #666;
    font-size: 14px/32px "Microsoft yahei";
    float: left;
}

.w .search button {
    height: 36px;
    width: 80px;
    background: #b61d1d;
    float: left;
    font-size: 14px/32px "Microsoft yahei";
    color: #fff;
    cursor: pointer;
    /* 鼠标变小手 */
}

.jd-a {
    display: block;
    height: 60px;
    width: 270px;
    text-indent: -200em;
}

.db-11 {
    position: absolute;
    width: 180px;
    height: 80px;
    background: #8a25c6;
    top: 10px;
    left: 168px;
}

.w .car {
    width: 96px;
    height: 34px;
    float: right;
    margin: 25px 65px 0 0;
    padding-left: 43px;
    border: 1px solid #dfdfdf;
    line-height: 34px;
    position: relative;
}

.car .icon1 {
    position: absolute;
    height: 13px;
    width: 16px;
    top: 10px;
    left: 20px;
    background: url(../img/sprite.png) no-repeat -1px -59px;
}

.car .icon2 {
    font: 400 13px/13px simsun;
    position: absolute;
    top: 10px;
    right: 10px;
}

.car .icon3 {
    position: absolute;
    width: 16px;
    height: 13px;
    background: #c81623;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0px;
}

.hotwords {
    width: 500px;
    padding: 7px 0px;
    float: left;
}

.hotwords a {
    margin-right: 6px;
}

.slogen {
    height: 54px;
    padding: 20px 0;
    position: relative;
    margin-bottom: 25px;
    background-color: #f5f5f5;
}

.slogen1 {
    margin-left: -608px;
}

.item {
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
}

.slogen2 {
    margin-left: -304px;
}

.slogen3 {
    margin-left: 2px;
}

.slogen4 {
    margin-left: 304px;
}

.jd-footer .w dt {
    font-size: 14px;
    height: 28px;
    font-family: "微软雅黑";
    padding-top: 10px;
}

.jd-footer .w dd {
    height: 20px;
}

.jd-footer .w dl {
    width: 198px;
    float: left;
}

.coverage{
    width: 210px;
    height: 165px;
    float: right;
    background: url(../img/china.png) left bottom;
}
.coverage p{
    line-height: 18px;
}
.coverage dd{
    margin-top: 10px;
}
.looklook{
    text-align: right;
    margin-top: 5px;
}